* {
    box-sizing: border-box;
}
#main-menu a{
	font-size: 20px;
	color: gray;
	padding: 10px;
	margin: 10px;
}
.wrap{
	max-width: 1000px;
	margin: auto;
}

img
{
	max-width: 100%;
}
img:hover{
	border: 5px solid red;
}
a:link{
	text-decoration: none;
}
a:hover
{
	color: red;
}
a:visited{
	color: brown;
}
a:active{
	color: green;
}