* {
    box-sizing: border-box;
}
.menu {
    list-style-type: none;
    padding: 3px;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px;
    height: 40px;
    font-family: arial;
}
.menu a:link{
    text-decoration: none;
    padding: 10px;
    color: #3e3e3e;


}
.menu > li {
    float: left;
}
.menu > li > ul {
    list-style-type: none;
    display: none;
}
.menu > li:hover > ul {
    display: block;
}
@keyframes title {
    0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}
@keyframes movename {
    from {
        left: 950px;
        opacity: 1;}
    to {
        left: 460px;
        opacity: 0;}
    0%  {color: green;}
    15%  {color: pink;}
    25%  {color: red;}
    40%  {color: gray;}
    50%  {color: orange;}
    60%  {color: green;}
    75%  {color: purple;}
    90%  {color: red;}
    100% {color: blue;}
}
@keyframes movecredit {
    from {
        left: 10px;
        opacity: 0;}
    to {
        left: 395px;
        opacity: 1;}
    0%  {color: green;}
    15%  {color: pink;}
    25%  {color: red;}
    40%  {color: gray;}
    50%  {color: orange;}
    60%  {color: green;}
    75%  {color: purple;}
    90%  {color: red;}
    100% {color: blue;}
}

h1{
    font-size: 30px;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    animation: title 6s ease-in infinite;

}
.wrap{
    max-width: 1000px;
    margin: auto;
}

.col{
    width: 33.3333333%;
    position: relative; 
    float: left;
    padding: 15px;
}
.gallery{
    padding: 1px;
    cursor: not-allowed;
    overflow: hidden;
}
.gallery img{
    max-height: 170px;
    vertical-align: middle;
    transition: opacity 0.5s linear;
}
.creditname{
    width: 100px;
    height: 50px;
    font-weight: bold;
    position: relative;
    animation: movename 5s ease-in infinite;
}
.credit{
    width: 100px;
    height: 50px;
    font-weight: bold;
    position: relative;
    animation: movecredit 5s ease-in infinite;
}

