body {
	margin: 0;
	padding: 0;
}

#banner img{
	width: 100%;
}
.nav-link{
	margin-left: 20px;
	margin-right: 20px;
	font-family: AvenirNext-DemiBold;
	font-size: 20px;
	color: #ABA3A3;
}
.text_title{
	font-family: Georgia;
	font-size: 32px;
	color: #4E5665;
	text-align: center;
	line-height: 38px;
}
.backgroundBlue{
	background: #9CD1FF;
	border: 1px solid #979797;
}
.count-text, .timer{
font-family: Georgia;
font-size: 60px;
text-align: left;
}
#park{
	color: #3B8BA7;
}
#beach{
	color: #F9BD41;
}
#club{
	color: #EC70BF;
}
.vivid img{
	width: 100%;
}
.vivid_title{
font-family: AvenirNext-Regular;
font-size: 20px;
color: #545454;
text-transform: uppercase;
}
.vivid_location, .vivid_time{
font-family: AvenirNext-Regular;
font-size: 16px;
color: #9F9F9F;
text-transform: uppercase;
}